<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Vesarium</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="software development, it support, IOT programming">
    <meta name="description" content="Software development I/O hardware programming IT support">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Icon CSS -->
    <link href="/css/fontawesome.min.css" rel="stylesheet">
    <!-- Magnific Popup CSS -->
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <!-- Owl Carouse CSS -->
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <!-- Site Main Style sheet css -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
</head>

<body>

<!-- Navbar Start -->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll" href="index.html"><img src="img/logo-50.png"></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>

    </div>
</nav>
<!-- Navbar End -->

<!-- Home Section Start -->
<div id="home" class="intro">
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="home-content">
                            <article>
                                <h1>Site is temporarily unavailable.</h1>
                                <p>Scheduled maintenance is currently in progress. Please check back soon.</p>
                                <p>We apologize for any inconvenience.</p>
                                <p id="signature">&mdash; <a href="mailto:info@vesarium.com">Vesarium Team</a></p>
                            </article>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home Section End -->



<!-- Preloader -->
<div id="preloader"></div>

<!--Jquery js-->
<script src="/js/jquery.min.js"></script>
<!--Bootstrap js-->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Ajax js -->
<script src="/js/ajax-mail.js"></script>
<!--Site Main js-->
<script src="/js/main.js"></script>

</body>

</html>


