<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Vesarium</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="software development, it support, IOT programming">
    <meta name="description" content="Software development I/O hardware programming IT support">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Icon CSS -->
    <link href="css/fontawesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Magnific Popup CSS -->
    <link href="css/magnific-popup.css" rel="stylesheet">
    <!-- Owl Carouse CSS -->
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <!-- Site Main Style sheet css -->
    <link href="css/style.css" rel="stylesheet">

    <link href="css/tabs2.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
</head>

<body>

<!-- Navbar Start -->
<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll" href=""><img width="200" src="img/logo-50.png"></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link js-scroll active" href="#home">Home</a> </li>
                <li class="nav-item"> <a class="nav-link js-scroll" href="#about">About Us</a> </li>
                <li class="nav-item"> <a class="nav-link js-scroll" href="#services">Services</a> </li>
                <li class="nav-item"> <a class="nav-link js-scroll" href="#contact">Contact</a> </li>
            </ul>
            <ul class="navbar-nav navbar-sub-button">
                <li class="nav-item"> <a class="button" href="#">Get A Quote <span></span><span></span><span></span><span></span></a> </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Home Section Start -->
<div id="home" class="intro">
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="home-content">
                            <h2 style="font-family: 'Orbitron', cursive;font-size: 20px;">We are custom software development studio who transforms ideas into high-quality applications.</h2>
                            <p>Software development & custom IoT solutions</p>
                            <div >
                                <a href="#about" class="button"> See more...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home Section End -->


<!-- About Section Start -->
<section id="about" class="about-area">
    <div class="about-top-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Passionate about software</h2>
                        <p>We create cutting-edge software solutions for our customers with the help of the latest front-end and back-end technologies using the tools that automate our development process. We operate a wide range of technologies and capable of helping to find and implement the most appropriate solution to your technical challenges.</p>
                    </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="about-creative-business">
                        <div class="creative-business-icon">
                            <i class="fa fa-lightbulb color-1"></i>
                        </div>
                        <div class="creative-business-content">
                            <h6>WEB APPLICATIONS DEVELOPMENT</h6>
                            <p> Vesarium provides the web application development services for the fast-growing companies looking to create and improve the web-based software products and solutions with innovative features and beautiful appearance.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-creative-business">
                        <div class="creative-business-icon">
                            <i class="fab fa-skyatlas color-2"></i>
                        </div>
                        <div class="creative-business-content">
                            <h6>FRONT-END WEB DEVELOPMENT</h6>
                            <p>We know that the first impression is the key to the high user retention rate. At Vesarium we create sophisticated web interfaces with the clean look to make sure that your customers will enjoy using your web application.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-creative-business">
                        <div class="creative-business-icon">
                            <i class="fa fa-desktop color-3"></i>
                        </div>
                        <div class="creative-business-content">
                            <h6>BACK-END DEVELOPMENT</h6>
                                <p>Back-end logic and stability are the cornerstones of a great product. We equip our dedicated teams with some of the best software engineers to make sure that the backend of your app is robust, stable, secure, and easy to maintain.</p>
                        </div>
                    </div>
                </div>


            <!--
                <div class="col-lg-4 col-md-6">
                    <div class="about-creative-business">
                        <div class="creative-business-icon">
                            <i class="fa fa-bullhorn color-4"></i>
                        </div>
                        <div class="creative-business-content">
                            <h3>Digital marketing</h3>
                            <p>General Business and Healthcare Consulting most recently nationally recognized.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-creative-business">
                        <div class="creative-business-icon">
                            <i class="fab fa-gratipay color-5"></i>
                        </div>
                        <div class="creative-business-content">
                            <h3>Devlopment</h3>
                            <p>General Business and Healthcare Consulting most recently nationally recognized.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-creative-business">
                        <div class="creative-business-icon">
                            <i class="fa fa-cog color-6"></i>
                        </div>
                        <div class="creative-business-content">
                            <h3>UI/UX design</h3>
                            <p>General Business and Healthcare Consulting most recently nationally recognized.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
</section>
<!-- About Section End -->


<section class="iot-area">

    <div class="container text-center">
        <div class="row">

            <div class="col-md-12 col-lg-6">
                <div class="iot-content">
                    <img src="img/IOT_2.png">
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="iot-content">
                    Internet of Things (IoT)
                    In a fast moving world, IoT is increasing in popularity. Real time monitoring, automated communication can speed up your business in an amazing way. Let us help you save time, costs, and human resources in running a business.

                </div>
            </div>

        </div>
    </div>
</section>



<!-- Services Section -->
<section id="services" class="services-area">
    <h1>Services we Provide</h1>
    <div class="tabs">

        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <input type="radio" id="tab3" name="tab-control">
        <input type="radio" id="tab4" name="tab-control">

        <ul>
            <li title="Custom Web Application Development"><label for="tab1" role="button"><svg viewBox="0 0 24 24"><path d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z"/>
                    </svg><br><span>Software Development</span></label></li>
            <li title="IoT hardware programming"><label for="tab2" role="button"><svg viewBox="0 0 24 24"><path d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
                    </svg><br><span>Internet of Things</span></label></li>
            <li title="Shipping"><label for="tab3" role="button"><svg viewBox="0 0 24 24">
                        <path d="M3,4A2,2 0 0,0 1,6V17H3A3,3 0 0,0 6,20A3,3 0 0,0 9,17H15A3,3 0 0,0 18,20A3,3 0 0,0 21,17H23V12L20,8H17V4M10,6L14,10L10,14V11H4V9H10M17,9.5H19.5L21.47,12H17M6,15.5A1.5,1.5 0 0,1 7.5,17A1.5,1.5 0 0,1 6,18.5A1.5,1.5 0 0,1 4.5,17A1.5,1.5 0 0,1 6,15.5M18,15.5A1.5,1.5 0 0,1 19.5,17A1.5,1.5 0 0,1 18,18.5A1.5,1.5 0 0,1 16.5,17A1.5,1.5 0 0,1 18,15.5Z" />
                    </svg><br><span>Embedded Programming</span></label></li>    <li title="IT technical support"><label for="tab4" role="button"><svg viewBox="0 0 24 24">
                        <path d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                    </svg><br><span>IT technical support</span></label></li>
        </ul>

        <div class="slider"><div class="indicator"></div></div>
        <div class="content">
            <section>
                <h2>Custom Web Application Development</h2>We create outstanding web applications. We value practical solutions, beautiful and smart designs, clean code, good architecture, and above all we are committed to the success of your company. We’ve been designing, building and supporting custom web applications for more than a decade.</section>
            <section>
                <h2>Internet of Things</h2>
                </section>
            <section>
                <h2>Embedded Programming</h2>
            </section>
            <section>
                <h2>IT Technical Support</h2>
                </section>
        </div>


    </div>

    <div class="container text-center">
        <div class="row">

            <div class="col-md-12 col-lg-6">
                
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="iot-content">
                    <img width="30%" src="img/473px-Light_Bulb_or_Idea_Flat_Icon_Vector.svg.png">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Hire Section End -->

<!-- Client-logo Section Start

<div class="client-area">
    <div class="container text-center">
        <div class="row">
            <div class="client-slide owl-carousel owl-theme owl-loaded owl-drag">
                <div class="client-logo">
                    <img src="img/client/1.png" class="img-fluid" alt="client-logo">
                </div>
                <div class="client-logo">
                    <img src="img/client/2.png" class="img-fluid" alt="client-logo">
                </div>
                <div class="client-logo">
                    <img src="img/client/3.png" class="img-fluid" alt="client-logo">
                </div>
                <div class="client-logo">
                    <img src="img/client/4.png" class="img-fluid" alt="client-logo">
                </div>
                <div class="client-logo">
                    <img src="img/client/5.png" class="img-fluid" alt="client-logo">
                </div>
                <div class="client-logo">
                    <img src="img/client/6.png" class="img-fluid" alt="client-logo">
                </div>
                <div class="client-logo">
                    <img src="img/client/4.png" class="img-fluid" alt="client-logo">
                </div>
                <div class="client-logo">
                    <img src="img/client/6.png" class="img-fluid" alt="client-logo">
                </div>
            </div>
        </div>
    </div>
</div>
Client-logo Section End -->




<!-- Contact Section Start -->
<section id="contact" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-title text-center">
                    <span class="sub-title">Are you ready to build software?</span>
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-10">
                <p class="form-message"></p><br>
                <form class="contact-form" id="contact-form" action="mail.php" method="POST">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <input name="name" type="text" class="form-control" required="" placeholder="Your Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input name="email" type="email" class="form-control" required="" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input name="subject" type="text" class="form-control" placeholder="Your Subject">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control" rows="5" placeholder="Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="form-group">
                                <button class="button">Send Message <span></span><span></span><span></span><span></span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Subscribe Section Start -->
<div class="Subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <!--
                <div class="Subscribe-newsletter">
                    <h2>Subscribe our newsletter</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">

                <form class="Subscribe-form">
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" required="" placeholder="Email Address">
                        <button type="submit" class="subscribe-button"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>

            </div>
            -->
        </div>
    </div>
</div>
<!-- Subscribe Section End -->


<!-- Footer Section Start -->
<footer class="footer">
    <div class="container">

        <div class="footer-bottom-area">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="footer-social-list text-left">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer-link-list text-center">
                        <ul class="list-inline">
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Condition</a></li>
                            <li><a href="#">Faq</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="copyright-text text-right">
                        <p>© Copyright All right Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Back to Top -->
<a href="#" class="back-to-top back-to-top-pulse"><i class="fa fa-caret-up"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!--Jquery js-->
<script src="js/jquery.min.js"></script>
<!--Bootstrap js-->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Ajax js -->
<script src="js/ajax-mail.js"></script>
<!--Site Main js-->
<script src="js/main.js"></script>

</body>

</html>